## Settings file was created by plugin ServersideQoL.MultiplayerTweaks v2.1.0
## Plugin GUID: ArgusMagnus.ServersideQoL.MultiplayerTweaks

[MultiplayerTweaks]

## Enables/disables the entire mod
# Setting type: Boolean
# Default value: true
Enabled = true

## True to force player map pins to be visible for all players
# Setting type: Boolean
# Default value: false
ForcePlayerMapPin = True

## True to assign ownership of some interactable objects (such as smelters or cooking stations) to the closest player.
## This should help avoiding the loss of ore, etc. due to networking issues.
# Setting type: Boolean
# Default value: false
AssignInteractablesToClosestPlayer = false

## True to assign ownership of hostile mobs to the closest player.
## This should help reduce issues with dodging/parrying due to networking issues.
# Setting type: Boolean
# Default value: false
AssignMobsToClosestPlayer = false

## True to assign ownership of ships to the player controlling the ship.
## This should help reduce issues with ship control due to networking issues.
# Setting type: Boolean
# Default value: false
AssignShipsToCaptain = false

## The minimum time (seconds) after ownership was reassigned on an object before it can be reassigned again
# Setting type: Single
# Default value: 2
# Acceptable value range: From 2 to 60
MinOwnershipDurationSeconds = 2

## The maximum time (seconds) since the last ping from a player was received for that player to be considered as potential new owner.
## This is not the max ping. Even on a perfect connection this value can be up to one second, because vanilla clients only send pings once every second.
# Setting type: Single
# Default value: 1.5
# Acceptable value range: From 1 to 5
MaxTimeSinceLastPingSeconds = 1.5

