## Settings file was created by plugin ServersideQoL.ContainerSigns v2.2.0
## Plugin GUID: ArgusMagnus.ServersideQoL.ContainerSigns

[ContainerSigns]

## Enables/disables the entire mod
# Setting type: Boolean
# Default value: true
Enabled = true

## Default text for chest signs
# Setting type: String
# Default value: •
ChestSignsDefaultText = •

## If this value is found in the text of a chest sign, it will be replaced by a list of contained items in that chest
# Setting type: String
# Default value: •
ChestSignsContentListPlaceholder = •

## Max number of entries to show in the content list on chest signs.
# Setting type: Int32
# Default value: 3
ChestSignsContentListMaxCount = 3

## Separator to use for content lists on chest signs
# Setting type: String
# Default value: <br>
ChestSignsContentListSeparator = <br>

## Text to show for the entry summarizing the rest of the items
# Setting type: String
# Default value: Other
ChestSignsContentListNameRest = Other

## Format string for entries in the content list, the first argument is the name of the item, the second is the total number of per item.
# Setting type: String
# Default value: {0} {1}
# Acceptable value formats: .NET Format strings for 2 arguments (String, Int32): https://learn.microsoft.com/en-us/dotnet/fundamentals/runtime-libraries/system-string-format#get-started-with-the-stringformat-method
ChestSignsContentListEntryFormat = {0} {1}

## Options to automatically put signs on wood chests
# Setting type: SignOptions
# Default value: None
# Acceptable values: Left, Right, Front, Back, TopLongitudinal, TopLateral
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
WoodChestSigns = Front, Back

## Options to automatically put signs on reinforced chests
# Setting type: SignOptions
# Default value: None
# Acceptable values: Left, Right, Front, Back, TopLongitudinal, TopLateral
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
ReinforcedChestSigns = Front, Back, TopLongitudinal

## Options to automatically put signs on blackmetal chests
# Setting type: SignOptions
# Default value: None
# Acceptable values: Left, Right, Front, Back, TopLongitudinal, TopLateral
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
BlackmetalChestSigns = Front, Back, TopLongitudinal

## Options to automatically put signs on grausten chests
# Setting type: SignOptions
# Default value: None
# Acceptable values: Left, Right, Front, Back, TopLongitudinal, TopLateral
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
GraustenChestSigns = Front, Back, TopLongitudinal

## Options to automatically put signs on wardrobes
# Setting type: SignOptions
# Default value: None
# Acceptable values: Left, Right, Front, Back, TopLongitudinal, TopLateral
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
WardrobeSigns = None

## Options to automatically put signs on barrels
# Setting type: SignOptions
# Default value: None
# Acceptable values: Left, Right, Front, Back, TopLongitudinal, TopLateral
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
BarrelSigns = None

## Options to automatically put signs on obliterators
# Setting type: SignOptions
# Default value: None
# Acceptable values: Front
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
ObliteratorSigns = None

