## Settings file was created by plugin ServersideQoL v2.2.1
## Plugin GUID: ArgusMagnus.ServersideQoL

[General]

## Enables/disables the entire mod
# Setting type: Boolean
# Default value: true
Enabled = true

## Enables/disables diagnostic logs
# Setting type: Boolean
# Default value: false
DiagnosticLogs = false

## True to automatically reload config files when they are changed.
## This value is only respected during initial startup and changing it later while the server is running has no effect.
# Setting type: Boolean
# Default value: true
AutoReload = true

## If > 0, config files will be polled every x seconds in addition to listening for file system events.
## This should help on file systems for which file system events don't work reliably (e.g. NFS).
# Setting type: Single
# Default value: 0
AutoReloadPollingIntervalSeconds = 0

## True to use a single config file for all SQoL mods.
## DO NOT turn this on unless you've updated all SQoL mods to v2.0.11 minimum.
# Setting type: Boolean
# Default value: false
UnifiedConfig = false

## True to save the config files for each world separately in the world save directory
# Setting type: Boolean
# Default value: false
ConfigPerWorld = true

## Max distance a player can have to a modified object to receive messages of type TopLeftFar or CenterFar
# Setting type: Single
# Default value: 64
FarMessageRange = 64

