## Settings file was created by plugin ServersideQoL.Player v2.2.1
## Plugin GUID: ArgusMagnus.ServersideQoL.Player

[Player]

## Enables/disables the entire mod
# Setting type: Boolean
# Default value: true
Enabled = true

## True to give players infinite stamina when building.
## Player stamina will still be drained, but when nearly depleted, just enough stamina will be restored to continue indefinitely.
## If you want infinite stamina in general, set the global key 'StaminaRate' to 0.
# Setting type: Boolean
# Default value: false
InfiniteBuildingStamina = false

## True to give players infinite stamina when farming.
## Player stamina will still be drained, but when nearly depleted, just enough stamina will be restored to continue indefinitely.
## If you want infinite stamina in general, set the global key 'StaminaRate' to 0.
# Setting type: Boolean
# Default value: false
InfiniteFarmingStamina = false

## True to give players infinite stamina when mining.
## Player stamina will still be drained, but when nearly depleted, just enough stamina will be restored to continue indefinitely.
## If you want infinite stamina in general, set the global key 'StaminaRate' to 0.
# Setting type: Boolean
# Default value: false
InfiniteMiningStamina = false

## True to give players infinite stamina when cutting wood.
## Player stamina will still be drained, but when nearly depleted, just enough stamina will be restored to continue indefinitely.
## If you want infinite stamina in general, set the global key 'StaminaRate' to 0.
# Setting type: Boolean
# Default value: false
InfiniteWoodCuttingStamina = false

## True to give players infinite stamina when encumbered.
## Player stamina will still be drained, but when nearly depleted, just enough stamina will be restored to continue indefinitely.
## If you want infinite stamina in general, set the global key 'StaminaRate' to 0.
# Setting type: Boolean
# Default value: false
InfiniteEncumberedStamina = false

## True to give players infinite stamina when sneaking.
## Player stamina will still be drained, but when nearly depleted, just enough stamina will be restored to continue indefinitely.
## If you want infinite stamina in general, set the global key 'StaminaRate' to 0.
# Setting type: Boolean
# Default value: false
InfiniteSneakingStamina = false

## True to give players infinite stamina when swimming.
## Player stamina will still be drained, but when nearly depleted, just enough stamina will be restored to continue indefinitely.
## If you want infinite stamina in general, set the global key 'StaminaRate' to 0.
# Setting type: Boolean
# Default value: false
InfiniteSwimmingStamina = false

## Emote to open the inventory of an attached cart.
## -1 to disable this feature, -2 to use any emote as trigger.
## You can bind emotes to buttons with chat commands.
## For example, on xbox you can bind the Y-Button to the wave-emote by entering "/bind JoystickButton3 Wave" in the in-game chat.
## If you use emotes exclusively for this feature, it is recommended to set the value to -2 as it is more reliably detected than specific emotes, especially on bad connection/with crossplay.
# Setting type: Emotes
# Default value: -1
# Acceptable values: -1, -2, Wave, Sit, Challenge, Cheer, NoNoNo, ThumbsUp, Point, BlowKiss, Bow, Cower, Cry, Despair, Flex, ComeHere, Headbang, Kneel, Laugh, Roar, Shrug, Dance, Relax, Toast, Rest, Vibe, LoveYou, Count
OpenCartEmote = -1

## If true, players can permanently unlock increased carrying weight by sacrificing a megingjord in an obliterator
# Setting type: Boolean
# Default value: false
CanSacrificeMegingjord = false

## If true, players can permanently unlock the ability to open sunken crypt doors by sacrificing a crypt key in an obliterator
# Setting type: Boolean
# Default value: false
CanSacrificeCryptKey = false

## If true, players can permanently unlock the ability to sense hidden objects by sacrificing a wishbone in an obliterator
# Setting type: Boolean
# Default value: false
CanSacrificeWishbone = false

## If true, players can permanently unlock a wisp companion by sacrificing a torn spirit in an obliterator.
## WARNING: Wisp companion cannot be unsummoned and will stay as long as this setting is enabled.
# Setting type: Boolean
# Default value: false
CanSacrificeTornSpirit = false

