## Settings file was created by plugin ServersideQoL.Treesurrection v2.1.1
## Plugin GUID: ArgusMagnus.ServersideQoL.Treesurrection

[Treesurrection]

## Enables/disables the entire mod
# Setting type: Boolean
# Default value: true
Enabled = true

## The probability a destroyed tree stump will drop a sapling
# Setting type: Int32
# Default value: 100
# Acceptable value range: From 0 to 100
SaplingDropChance = 100

## How long saplings will be invulnerable after being dropped
# Setting type: Single
# Default value: 10
SaplingInvulnerabilitySeconds = 10

## How long new saplings take to regrow as a factor of the time player planted trees take to grow
# Setting type: Single
# Default value: 1
GrowingTimeMultiplier = 1

