## Settings file was created by plugin ServersideQoL.AdminOptions v2.1.0
## Plugin GUID: ArgusMagnus.ServersideQoL.AdminOptions

[AdminOptions]

## Enables/disables the entire mod
# Setting type: Boolean
# Default value: true
Enabled = true

## Emote admins can use to toggle disabling rain damage for newly built pieces.
## -1 to disable this feature, -2 to use any emote as trigger.
## If you use emotes exclusively for this feature, it is recommended to set the value to -2 as it is more reliably detected than specific emotes, especially on bad connection/with crossplay.
# Setting type: Emotes
# Default value: -1
# Acceptable values: -1, -2, Wave, Sit, Challenge, Cheer, NoNoNo, ThumbsUp, Point, BlowKiss, Bow, Cower, Cry, Despair, Flex, ComeHere, Headbang, Kneel, Laugh, Roar, Shrug, Dance, Relax, Toast, Rest, Vibe, LoveYou, Count
ToggleDisableRainDamageEmote = -1

## Emote admins can use to toggle disabling support requirements for newly built pieces.
## -1 to disable this feature, -2 to use any emote as trigger.
## If you use emotes exclusively for this feature, it is recommended to set the value to -2 as it is more reliably detected than specific emotes, especially on bad connection/with crossplay.
# Setting type: Emotes
# Default value: -1
# Acceptable values: -1, -2, Wave, Sit, Challenge, Cheer, NoNoNo, ThumbsUp, Point, BlowKiss, Bow, Cower, Cry, Despair, Flex, ComeHere, Headbang, Kneel, Laugh, Roar, Shrug, Dance, Relax, Toast, Rest, Vibe, LoveYou, Count
ToggleDisableSupportRequirements = -1

## Emote admins can use to toggle making newly built pieces indestructible.
## -1 to disable this feature, -2 to use any emote as trigger.
## If you use emotes exclusively for this feature, it is recommended to set the value to -2 as it is more reliably detected than specific emotes, especially on bad connection/with crossplay.
# Setting type: Emotes
# Default value: -1
# Acceptable values: -1, -2, Wave, Sit, Challenge, Cheer, NoNoNo, ThumbsUp, Point, BlowKiss, Bow, Cower, Cry, Despair, Flex, ComeHere, Headbang, Kneel, Laugh, Roar, Shrug, Dance, Relax, Toast, Rest, Vibe, LoveYou, Count
ToggleMakeIndestructible = -1

## Emote admins can use to toggle the workbench requirement for building.
## -1 to disable this feature, -2 to use any emote as trigger.
## If you use emotes exclusively for this feature, it is recommended to set the value to -2 as it is more reliably detected than specific emotes, especially on bad connection/with crossplay.
# Setting type: Emotes
# Default value: -1
# Acceptable values: -1, -2, Wave, Sit, Challenge, Cheer, NoNoNo, ThumbsUp, Point, BlowKiss, Bow, Cower, Cry, Despair, Flex, ComeHere, Headbang, Kneel, Laugh, Roar, Shrug, Dance, Relax, Toast, Rest, Vibe, LoveYou, Count
ToggleNoWorkbench = -1

## Emote admins can use to toggle building in dungeons.
## -1 to disable this feature, -2 to use any emote as trigger.
## If you use emotes exclusively for this feature, it is recommended to set the value to -2 as it is more reliably detected than specific emotes, especially on bad connection/with crossplay.
# Setting type: Emotes
# Default value: -1
# Acceptable values: -1, -2, Wave, Sit, Challenge, Cheer, NoNoNo, ThumbsUp, Point, BlowKiss, Bow, Cower, Cry, Despair, Flex, ComeHere, Headbang, Kneel, Laugh, Roar, Shrug, Dance, Relax, Toast, Rest, Vibe, LoveYou, Count
ToggleDungeonBuild = -1

## Emote admins can use to toggle no build cost.
## -1 to disable this feature, -2 to use any emote as trigger.
## If you use emotes exclusively for this feature, it is recommended to set the value to -2 as it is more reliably detected than specific emotes, especially on bad connection/with crossplay.
# Setting type: Emotes
# Default value: -1
# Acceptable values: -1, -2, Wave, Sit, Challenge, Cheer, NoNoNo, ThumbsUp, Point, BlowKiss, Bow, Cower, Cry, Despair, Flex, ComeHere, Headbang, Kneel, Laugh, Roar, Shrug, Dance, Relax, Toast, Rest, Vibe, LoveYou, Count
ToggleNoBuildCost = -1

## Emote admins can use to toggle unlocking all building pieces.
## -1 to disable this feature, -2 to use any emote as trigger.
## If you use emotes exclusively for this feature, it is recommended to set the value to -2 as it is more reliably detected than specific emotes, especially on bad connection/with crossplay.
# Setting type: Emotes
# Default value: -1
# Acceptable values: -1, -2, Wave, Sit, Challenge, Cheer, NoNoNo, ThumbsUp, Point, BlowKiss, Bow, Cower, Cry, Despair, Flex, ComeHere, Headbang, Kneel, Laugh, Roar, Shrug, Dance, Relax, Toast, Rest, Vibe, LoveYou, Count
ToggleAllPiecesUnlocked = -1

## Emote admins can use to cycle between different modes when using the Hoe's "Level Ground" option.
## -1 to disable this feature, -2 to use any emote as trigger.
## If you use emotes exclusively for this feature, it is recommended to set the value to -2 as it is more reliably detected than specific emotes, especially on bad connection/with crossplay.
# Setting type: Emotes
# Default value: -1
# Acceptable values: -1, -2, Wave, Sit, Challenge, Cheer, NoNoNo, ThumbsUp, Point, BlowKiss, Bow, Cower, Cry, Despair, Flex, ComeHere, Headbang, Kneel, Laugh, Roar, Shrug, Dance, Relax, Toast, Rest, Vibe, LoveYou, Count
CycleLevelGroundMode = -1

## Emote admins can use to toggle receiving no damage from enemies (environmental hazards can still hurt the player though).
## -1 to disable this feature, -2 to use any emote as trigger.
## If you use emotes exclusively for this feature, it is recommended to set the value to -2 as it is more reliably detected than specific emotes, especially on bad connection/with crossplay.
# Setting type: Emotes
# Default value: -1
# Acceptable values: -1, -2, Wave, Sit, Challenge, Cheer, NoNoNo, ThumbsUp, Point, BlowKiss, Bow, Cower, Cry, Despair, Flex, ComeHere, Headbang, Kneel, Laugh, Roar, Shrug, Dance, Relax, Toast, Rest, Vibe, LoveYou, Count
DemigodMode = -1

## Emote admins can use to toggle having infinite stamina.
## -1 to disable this feature, -2 to use any emote as trigger.
## If you use emotes exclusively for this feature, it is recommended to set the value to -2 as it is more reliably detected than specific emotes, especially on bad connection/with crossplay.
# Setting type: Emotes
# Default value: -1
# Acceptable values: -1, -2, Wave, Sit, Challenge, Cheer, NoNoNo, ThumbsUp, Point, BlowKiss, Bow, Cower, Cry, Despair, Flex, ComeHere, Headbang, Kneel, Laugh, Roar, Shrug, Dance, Relax, Toast, Rest, Vibe, LoveYou, Count
InfiniteStamina = -1

