## Settings file was created by plugin ServersideQoL.Backpack v2.2.1
## Plugin GUID: ArgusMagnus.ServersideQoL.Backpack

[Backpack]

## Enables/disables the entire mod
# Setting type: Boolean
# Default value: true
Enabled = true

## Emote to open the backpack.
## If a player uses this emote, a virtual container acting as their backpack will open.
## -2 to use any emote as trigger.
## You can bind emotes to buttons with chat commands.
## For example, on xbox you can bind the Y-Button to the wave-emote by entering "/bind JoystickButton3 Wave" in the in-game chat.
## If you use emotes exclusively for this feature, it is recommended to set the value to -2 as it is more reliably detected than specific emotes, especially on bad connection/with crossplay.
# Setting type: Emotes
# Default value: Wave
# Acceptable values: -2, Wave, Sit, Challenge, Cheer, NoNoNo, ThumbsUp, Point, BlowKiss, Bow, Cower, Cry, Despair, Flex, ComeHere, Headbang, Kneel, Laugh, Roar, Shrug, Dance, Relax, Toast, Rest, Vibe, LoveYou, Count
OpenBackpackEmote = Wave

## Initial available slots in the backpack
# Setting type: Int32
# Default value: 4
InitialBackpackSlots = 4

## Additional backpack slots per defeated boss
# Setting type: Int32
# Default value: 4
AdditionalBackpackSlotsPerDefeatedBoss = 4

## Maximum backpack weight. -1 for no limit.
# Setting type: Int32
# Default value: -1
MaxBackpackWeight = -1

## What happens to backpack contents on player death
# Setting type: BackPackOnDeathOptions
# Default value: SameAsInventory
# Acceptable values: SameAsInventory, Keep, Destroy, DropTombStone, DropItems
BackpackOnDeath = SameAsInventory

