## Settings file was created by plugin ServersideQoL.AutoProcess v2.2.0
## Plugin GUID: ArgusMagnus.ServersideQoL.AutoProcess

[AutoProcess]

## Enables/disables the entire mod
# Setting type: Boolean
# Default value: true
Enabled = true

## True to automatically feed smelters from nearby containers
# Setting type: Boolean
# Default value: true
FeedFromContainers = true

## True to automatically add fermentable items (e.g. mead bases) to empty fermenters from nearby containers. Requires FeedFromContainers
# Setting type: Boolean
# Default value: false
FeedFermenters = false

## True to automatically tap fermenters when the content is ready. The products (e.g. mead) are dropped like when tapping by hand, use AutoStore to put them into containers
# Setting type: Boolean
# Default value: false
TapFermenters = false

## Required proximity of a container to a smelter to be used as feeding source.
## Can be overridden per chest by putting '<FeedFromContainersRangeSignPrefix><Range>' on a chest sign, e.g. '↔️64'.
##   For example, '↔️64' increase the range of that chest to 64m.
##   Only works with automatic chest signs added by the ServersideQoL.ContainerSigns mod.
# Setting type: Single
# Default value: 4
FeedFromContainersRange = 4

## Requires the ServersideQoL.ContainerSigns mod.
## The prefix used to identify the container specifc feed range value in chest sign text.
# Setting type: String
# Default value: ↔️
FeedFromContainersRangeSignPrefix = <=>

## Requires the ServersideQoL.ContainerSigns mod.
## Max feeding range players can set per chest (by putting '<FeedFromContainersRangeSignPrefix><Range>' on a chest sign)
# Setting type: Int32
# Default value: 64
FeedFromContainersMaxRange = 12

## Min distance all players must have to a processing station
# Setting type: Single
# Default value: 4
FeedFromContainersMinPlayerDistance = 4

## Minimum amount of fuel to leave in a container
# Setting type: Int32
# Default value: 1
FeedFromContainersLeaveAtLeastFuel = 1

## Minimum amount of ore to leave in a container
# Setting type: Int32
# Default value: 1
FeedFromContainersLeaveAtLeastOre = 0

## Minimum amount of fermentable items (e.g. mead bases) to leave in a container
# Setting type: Int32
# Default value: 0
FeedFromContainersLeaveAtLeastFermentable = 0

## Type of message to show when ore or fuel is added to a smelter
# Setting type: MessageTypes
# Default value: None
# Acceptable values: None, TopLeftNear, TopLeftFar, CenterNear, CenterFar, InWorld
OreOrFuelAddedMessageType = InWorld

## Multiply a smelter's ore/fuel capacity by this factor
# Setting type: Single
# Default value: 1
CapacityMultiplier = 1

## Multiply the time it takes to produce one product by this factor (will not go below 1 second per product).
# Setting type: Single
# Default value: 1
TimePerProductMultiplier = 1

