## Settings file was created by plugin ServersideQoL.AutoStore v2.1.0
## Plugin GUID: ArgusMagnus.ServersideQoL.AutoStore

[AutoStore]

## Enables/disables the entire mod
# Setting type: Boolean
# Default value: true
Enabled = true

## True to auto sort container inventories
# Setting type: Boolean
# Default value: true
AutoSort = true

## Type of message to show when a container was sorted
# Setting type: MessageTypes
# Default value: None
# Acceptable values: None, TopLeftNear, TopLeftFar, CenterNear, CenterFar, InWorld
SortedMessageType = None

## True to automatically put dropped items into containers if they already contain said item
# Setting type: Boolean
# Default value: true
AutoPickup = true

## Required proximity of a container to a dropped item to be considered as auto pickup target.
## Can be overridden per chest by putting '<AutoPickupRangeSignPrefix><Range>' on a chest sign, e.g. '🧲16'.
##   For example, '🧲0' will disable auto pickup/stacking from player inventory into that chest.
##   Only works with automatic chest signs added by the ServersideQoL.ContainerSigns mod.
# Setting type: Single
# Default value: 64
AutoPickupRange = 8

## Requires the ServersideQoL.ContainerSigns mod.
## The prefix used to identify the container specifc auto pickup range value in chest sign text.
# Setting type: String
# Default value: 🧲
AutoPickupRangeSignPrefix = 🧲

## Requires the ServersideQoL.ContainerSigns mod. 
## Max auto pickup range players can set per chest (by putting '<AutoPickupRangeSignPrefix><Range>' on a chest sign).
# Setting type: Int32
# Default value: 64
AutoPickupMaxRange = 64

## Min distance all players must have to a dropped item for it to be picked up
# Setting type: Single
# Default value: 4
AutoPickupMinPlayerDistance = 4

## Item types which will be excluded from auto pickup
# Setting type: ConfigArray`1
# Default value: 
# Acceptable values: Ammo, AmmoNonEquipable, Bow, Chest, Consumable, Fish, Helmet, Legs, Material, Misc, OneHandedWeapon, Shield, Shoulder, Tool, Torch, Trinket, Trophy, TwoHandedWeapon, TwoHandedWeaponLeft, Utility
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
AutoPickupExcludeItemTypes = 

## True to exclude food items for tames when tames are within search range
# Setting type: Boolean
# Default value: true
AutoPickupExcludeFodder = true

## True to make the server request (and receive) ownership of dropped items from the clients before they are picked up. This will reduce the risk of data conflicts (e.g. item duplication) but will drastically decrease performance
# Setting type: Boolean
# Default value: true
AutoPickupRequestOwnership = true

## Type of message to show when a dropped item is added to a container
# Setting type: MessageTypes
# Default value: InWorld
# Acceptable values: None, TopLeftNear, TopLeftFar, CenterNear, CenterFar, InWorld
PickedUpMessageType = InWorld

## True to show an effect when a container is modified due to auto pickup or player inventory stacking
# Setting type: Boolean
# Default value: true
ShowContainerModifiedEffect = true

## True to suppress the sound of the container modified effect when ShowContainerModifiedEffect = true
# Setting type: Boolean
# Default value: false
SuppressContainerModifiedEffectSound = false

## Emote to stack inventory into containers.
## If a player uses this emote, their inventory will be automatically stacked into nearby containers.
## The rules for which containers are used are the same as for auto pickup.
## -1 to disable this feature, -2 to use any emote as trigger.
## For example, on xbox you can use D-Pad down to execute the Sit emote.
## If you use emotes exclusively for this feature, it is recommended to set the value to -2 as it is more reliably detected than specific emotes, especially on bad connection/with crossplay.
# Setting type: Emotes
# Default value: Sit
# Acceptable values: -1, -2, Wave, Sit, Challenge, Cheer, NoNoNo, ThumbsUp, Point, BlowKiss, Bow, Cower, Cry, Despair, Flex, ComeHere, Headbang, Kneel, Laugh, Roar, Shrug, Dance, Relax, Toast, Rest, Vibe, LoveYou, Count
StackInventoryIntoContainersEmote = BlowKiss

## Item types which will be excluded from stacking into containers via emote
# Setting type: ConfigArray`1
# Default value: 
# Acceptable values: Ammo, AmmoNonEquipable, Bow, Chest, Consumable, Fish, Helmet, Legs, Material, Misc, OneHandedWeapon, Shield, Shoulder, Tool, Torch, Trinket, Trophy, TwoHandedWeapon, TwoHandedWeaponLeft, Utility
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
StackInventoryIntoContainersExcludeItemTypes = Bow, Chest, Helmet, Legs, OneHandedWeapon, Shield, Shoulder, Tool, Torch, Trinket, TwoHandedWeapon, TwoHandedWeaponLeft

## Time in seconds after which items which could not be stacked into containers are returned to the player.
## Increasing this value can help with bad connections.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 1 to 10
StackInventoryIntoContainersReturnDelay = 1

