## Settings file was created by plugin ServersideQoL.PrefabConfigurator v2.2.1
## Plugin GUID: ArgusMagnus.ServersideQoL.PrefabConfigurator

[BuildPieces]

## True to prevent rain from damaging build pieces
# Setting type: Boolean
# Default value: false
DisableRainDamage = false

## Ignore support requirements on build pieces
# Setting type: DisableSupportRequirementsOptions
# Default value: None
# Acceptable values: PlayerBuilt, World
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
DisableSupportRequirements = None

## True to make player-built pieces indestructible
# Setting type: Boolean
# Default value: false
MakeIndestructible = false

[Carts]

## Multiplier for a carts content weight. E.g. set to 0 to ignore a cart's content weight
# Setting type: Single
# Default value: 1
ContentMassMultiplier = 1

## If enabled, carts can be deconstructed with the build hammer
# Setting type: Boolean
# Default value: false
DeconstructWithHammer = false

[Fireplaces]

## True to make all fireplaces/lightsources (including torches, braziers, etc.) toggleable.
## BEWARE: toggleable fireplaces/lightsources will be toggled off automatically by rain/heavy wind.
# Setting type: Boolean
# Default value: false
MakeToggleable = false

## True to make all fireplaces have infinite fuel
# Setting type: Boolean
# Default value: false
InfiniteFuel = false

[Plants]

## Multiply plant grow time by this factor. 0 to make them grow almost instantly.
# Setting type: Single
# Default value: 1
GrowTimeMultiplier = 1

## Multiply plant space requirement by this factor. 0 to disable space requirements.
# Setting type: Single
# Default value: 1
SpaceRequirementMultiplier = 1

## True to keep plants that can't grow alive
# Setting type: Boolean
# Default value: false
DontDestroyIfCantGrow = false

[PrefabConfigurator]

## Enables/disables the entire mod
# Setting type: Boolean
# Default value: true
Enabled = true

[Ships]

## If enabled, ships can be deconstructed with the build hammer
# Setting type: Boolean
# Default value: false
DeconstructWithHammer = false

